html,
body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100vw;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  overscroll-behavior-y: none;
}

.hidden {
  display: none !important;
}

.disclaimer {
  user-select: none;
  box-sizing: border-box;
  line-height: 1.4;
  display: block;
  align-items: center;
  color: #0057b7;
  text-decoration: none;
  position: fixed;
  padding: 0px 3px 0px 5px;
  width: 55px;
  text-align: center;
  bottom: 0px;
  right: 55px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px 0px 0px 0px;
}

.disclaimer a:hover {
  text-decoration: underline; 
}

.disclaimer a {
  text-decoration: none;
}
.disclaimer a.centered-link {
  display: flex;
  align-items: center;
}

.disclaimer a.centered-link img {
  margin-right: 3px;
}

.disclaimer a:visited {
  color: #0057b7;
}

.alert {
  user-select: none;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: #c5c5c5;
  font-size: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  overflow: auto;
  word-wrap: normal;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 3px;
  border-radius: 10px;
  touch-action: none;
  overflow: hidden;
}

#project-info-btn {
  top: 9px;
}

#change-map-btn {
  top: 44px;
}
#latest-list-btn {
  top: 79px;
}

#nearby-list-btn {
  top: 114px;
}

#nearby-info,
.weather {
  background-color: rgba(255, 255, 255, 0.7);
}

#change-map-btn,
#latest-list-btn,
#nearby-list-btn,
#nearby-info,
#neighborhood-text,
#project-info-btn,
.weather {
  user-select: none;
  touch-action: none;
  z-index: 3;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: rgba(39, 39, 39, 0.84);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  vertical-align: center;
  position: fixed;
  white-space: nowrap;
  border-radius: 3px;
  border-radius: 5px;
  border: none;
  transition: transform 0.5s ease;
}

#neighborhood-text {
  background-color: rgba(255, 255, 255, 0.7);
}

#change-map-btn,
#latest-list-btn,
#nearby-list-btn,
#project-info-btn {
  font-weight: bold;
  text-align: center;
  right: 13px;
  font-size: 14px;
  border: 1px solid #c5c5c5;
  padding: 0px 3px 0px 3px;
  color: rgba(72, 72, 72, 1);
  background-image: linear-gradient(#f7f7f7, #e7e7e7);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 65px;
  height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}

#change-map-btn:active,
#latest-list-btn:active,
#nearby-list-btn:active,
#project-info-btn:active {
  box-shadow: none;
  outline: none;
  transform: scale(1.025);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

#count-container {
  align-items: center;
  justify-content: center;
  height: 20px;
}

#nearby-info {
  font-size: 14px;
  left: 50px;
  top: 48px;
  padding: 2px 6px 2px 6px;
}

#neighborhood-text {
  font-size: 40px;
  bottom: 65px;
  left: 50%;
  z-index: 3;
  border-radius: 8px;
  padding: 0px 5px 2px 5px;
  transform: translate(-50%, +50%);
  text-align: center;
}

#containerTemp {
  grid-column: 1;
  grid-row: 1;
}
#weather-label {
  font-size: 12px;
}

.weather {
  font-size: 23px;
  top: 10.2px;
  left: 50px;
  text-align: center;
  padding: 2px 6px 2px 6px;
}

.leaflet-control-attribution {
  user-select: none;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.65) !important;
  font-size: 10px;
  color: #0057b7 !important;
  width: 55px;
  box-sizing: border-box;
}

.leaflet-control-attribution a:visited {
  color: #0057b7; 
}

.leaflet-popup-content {
  padding: 0.1px;
  background-color: transparent;
}

.leaflet-popup-content-wrapper {
  padding: 0.1px;
  background-color: rgba(255, 255, 255, 0.9);
}
.leaflet-control-zoom-in {
  top: 9px;
}

.leaflet-control-zoom-out {
  top: 54px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  user-select: none;
  font-weight: bold;
  color: #484848;
  background-image: linear-gradient(#f7f7f7, #e7e7e7);
  transition: transform 0.2s ease-in-out;
}

.leaflet-control-zoom-in:active,
.leaflet-control-zoom-out:active {
  transform: scale(1.02);
  transform-origin: top;
  outline: none;
  background-color: #f8f8f8;
}

#last-updated {
  font-size: 10px;
  line-height: 1.4;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  bottom: 31px;
  left: 50%;
  transform: translate(-50%, +50%);
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: rgba(39, 39, 39, 0.7);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 4px;
}
