:root {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
  margin: 20px;
  padding: 20px;
}

.productImage {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  height: auto;
  float: left;
}
