html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  touch-action: none;
}

/*----Leaflet Styling----*/

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  overflow: hidden;
  touch-action: pan-x pan-y;
  overscroll-behavior-y: none;
}

.hidden {
  display: none !important;
}

/* For SF Police Stations and Responding Cop Car Emoji */
.station-marker {
  background: transparent;
  border: none;
  font-size: x-large;
}

.response-marker {
  background: transparent;
  border: none;
  font-size: large;
}

.response-marker-popup-text {
  color: blue;
}

#addSFDataSource {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 62px;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  display: block;
  align-items: center;
  text-decoration: none;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #0057b7;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 2;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0 4px 0 0;
  line-height: 1.4;
  user-select: none;
  text-align: center;
}

#addSFDataSource a:hover {
  text-decoration: underline;
}

#addSFDataSource a {
  text-decoration: none;
}
#addSFDataSource a.centered-link {
  display: flex;
  align-items: center;
}

#addSFDataSource a.centered-link img {
  margin-right: 3px;
}

#addSFDataSource a:visited {
  color: #0057b7;
}

#alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 15%;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  user-select: none;
  touch-action: none;
  overflow: hidden;
  word-wrap: normal;
}

/* -----Buttons----- 
1 - 9px
2 - 44px
3 - 79px
4 - 114px
5 - 149px
6 - 184px 
*/

#project-info-btn {
  top: 9px;
}

#change-map-btn {
  top: 44px;
}
#latest-list-btn {
  top: 149px;
}

#nearby-list-btn {
  top: 184px;
}

#response-times-list-btn {
  top: 79px;
}

#car-breakins-btn {
  top: 114px;
}

#nearby-info,
#weather {
  background-color: rgba(255, 255, 255, 0.7);
}

#change-map-btn,
#latest-list-btn,
#nearby-list-btn,
#nearby-info,
#neighborhood-text,
#project-info-btn,
#response-times-list-btn,
#car-breakins-btn,
#weather {
  position: fixed;
  z-index: 3;
  color: rgba(39, 39, 39, 0.84);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  white-space: nowrap;
  border-radius: 5px;
  border: none;
  user-select: none;
  touch-action: none;
  vertical-align: center;
  transition: transform 0.5s ease;
}

#change-map-btn,
#latest-list-btn,
#nearby-list-btn,
#project-info-btn,
#response-times-list-btn,
#car-breakins-btn {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: rgba(72, 72, 72, 1);
  border: 1px solid #c5c5c5;
  background-image: linear-gradient(#f7f7f7, #e7e7e7);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 65px;
  height: 25px;
  right: 13px;
  padding: 0px 3px;
  border: none;
  cursor: pointer;
}

#change-map-btn:active,
#latest-list-btn:active,
#nearby-list-btn:active,
#project-info-btn:active,
#car-breakins-btn:active {
  transform: scale(1.025);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
  box-shadow: none;
  outline: none;
}

#count-container {
  align-items: center;
  justify-content: center;
  height: 20px;
  touch-action: none;
  pointer-events: none;
}

#nearby-info {
  left: 50px;
  top: 48px;
  font-size: 14px;
  padding: 2px 6px 2px 6px;
  touch-action: none;
  pointer-events: none;
}

#neighborhood-text {
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 0 5px 2px 5px;
  font-size: 40px;
  text-align: center;
  touch-action: none;
  pointer-events: none;
}

#containerTemp {
  grid-column: 1;
  grid-row: 1;
  touch-action: none;
  pointer-events: none;
}

#weather {
  top: 10.2px;
  left: 50px;
  font-size: 23px;
  padding: 2px 6px 2px 6px;
  text-align: center;
}

.leaflet-control-attribution {
  width: 65px;
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #0057b7 !important;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 4px 0 0 0;
  user-select: none;
  box-sizing: border-box;
}

.leaflet-control-attribution a:visited {
  color: #0057b7;
}

.leaflet-popup-content {
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  transition: padding 0.5s;
}

.leaflet-popup-content-small-padding {
  padding: 0.1px 0px 0px 0px;
  background-color: transparent;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  padding: 0.1px;
  background-color: rgba(255, 255, 255, 0.9);
}

.leaflet-control-zoom-in {
  top: 9px;
}

.leaflet-control-zoom-out {
  top: 54px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-weight: bold;
  color: #484848;
  background-image: linear-gradient(#f7f7f7, #e7e7e7);
  transition: transform 0.2s ease-in-out;
  user-select: none;
}

.leaflet-control-zoom-in:active,
.leaflet-control-zoom-out:active {
  background-color: #f8f8f8;
  outline: none;
  transform: scale(1.02);
  transform-origin: top;
}

#last-updated {
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.4;
  position: fixed;
  bottom: 54px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  color: rgba(39, 39, 39, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 4px;
  touch-action: none;
  pointer-events: none;
}

.station-popup .leaflet-popup-content {
  padding: 0.1px 0px 0.1px 0px !important;
  background-color: transparent;
  transition: padding 0.5s;
  text-align: center;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .leaflet-popup-content-wrapper,
  .leaflet-popup-content-wrapper,
  .station-popup .leaflet-popup-content {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(20, 20, 20, 0.9);
    box-shadow: 0px 2px 4px rgba(210, 210, 210, 0.25);
  }

  .leaflet-control-attribution {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  .leaflet-popup-tip,
  #weather,
  #nearby-info,
  #neighborhood-text,
  #addSFDataSource,
  #last-updated {
    background-color: rgba(30, 30, 30, 0.9);
    color: rgba(220, 220, 220, 0.84);
    box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.25);
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  #change-map-btn,
  #latest-list-btn,
  #nearby-list-btn,
  #project-info-btn,
  #response-times-list-btn,
  #car-breakins-btn {
    background-image: linear-gradient(#303030, #1a1a1a);
    color: rgba(237, 237, 237, 0.84) !important;
    text-shadow: 0px 1px 0px rgba(39, 39, 39, 0.8);
    box-shadow: 0px 2px 4px rgba(210, 210, 210, 0.25);
  }

  .leaflet-control-zoom-in:active,
  .leaflet-control-zoom-out:active {
    background-color: #333333;
  }

  .leaflet-control-attribution,
  .leaflet-control-attribution a:visited,
  #addSFDataSource,
  #addSFDataSource a:visited {
    color: #2d8ff8;
  }
}
