/*----CALLS LIST----*/
#project-info-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  user-select: none;
  /* touch-action:none */
}

#project-info a {
  color: #dc7c06;
}

#project-info a:visited {
  color: #00b70f;
}

#project-info {
  position: fixed;
  padding: 20px;
  z-index: 5;
  color: white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  user-select: none;
  touch-action: none;
}

#project-info-heading {
  font: bold;
}

#project-info p {
  font-size: 14px;
}

/*----LATEST INCIDENTS LIST----*/
#call-list-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72%;
  max-width: 500px;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  /* overflow: auto; */
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

.received-time-ago-hours {
  font-size: 40px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  border: #292828;
  text-align: right;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  user-select: none;
  touch-action: none;
}

#call-list-container h2 {
  position: relative;
  color: white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: #292828;
  border-width: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.inline-headings h3 {
  display: inline;
  margin: 0;
}

#call-list {
  /* Positioning */
  position: relative;
  bottom: 3px;

  /* Dimension and Layout */
  max-width: 320px;
  height: auto;
  width: 90%;
  padding: 1px;
  margin: 0px 0px 5px 0px;

  /* Styling */
  list-style: none;
  border-radius: 8px;

  /* Scrolling and Interaction */
  overflow-x: hidden;
  pointer-events: auto;
  touch-action: pan-y;
  -ms-touch-action: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  overscroll-behavior: contain; /* Stop rubber-banding */
}

.call-box {
  /* Overflow and Background */
  overflow: hidden;
  background-color: #2f2f2f;

  /* Text and Height */
  text-align: start;
  height: 72px;
  font-size: auto;

  /* Styling and Border */
  color: white;
  border-radius: 8px;

  /* Padding and Margin */
  padding: 2px 2px 3px 2px;
  margin: 4px 0px 0px 0px;

  /* Cursor */
  cursor: pointer;
  user-select: none;
}

.call-box:active {
  transform: scale(1.025);
  transform-origin: left;
  background-color: #0e0e0eeb;
}

.call-box h3 {
  font-size: auto;
  margin: 1.5px 9px -2px;
}

.call-box p {
  font-size: 13px;
  color: white;
  font-family: sans-serif;
  background-color: transparent;
  margin: 0px 11px 0px;
}

/*----BUTTON BOUNCE----*/
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bouncing {
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  transition: transform 0.4s;
}

/*----SCROLL BAR----*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #292828;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #ff0000,
    #ff8000,
    #ffff00,
    #00ff00,
    #0000ff,
    #8000ff,
    #ff00ff
  );
  border-radius: 3px;
  border-radius: 3px;
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

::-webkit-scrollbar-thumb {
  animation: rainbow 10s ease infinite;
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
