:root {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
  margin: 20px;
  padding: 20px;
}

.productImage {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  height: auto;
  float: left;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 1.8em;
  text-align: left;
  padding: 0.3em;
  margin: 0;
  top: 0;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}

li {
  padding-left: 25px;
}
