:root {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
  margin: 15px;
  padding: 5px;
}

.productImage {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  width: 350px;
  height: auto;
  float: left;
}
